.copy-it {
    position: relative;
    width: auto;

    .touch & {
        button {
            display: none;
        }
    }

    .no-touch & {
        .selection-copy {
            display: none;
        }
    }

    .button-copy {
        @extend .button;
        background-color: $gray-light;
        font-size: 2em;
        padding: 0 0.25em;
        position: relative;
        &:active {
            background-color: darken($gray-light, 10%);
        }
    }

    .selection-copy {
        font-size: 2em;
        padding: 0 0.25em;
        position: relative;
    }

    .message {
        position: absolute;
        top: 0;
        left: 65px;
        font-size: 16px;
        line-height: 47px;
        color: $gray-dark;
        display: none;
    }
}
